body{
    margin-left: 0px;
    margin-right: 0px;
}
.cabecalho{
    height: 80px;
    border-bottom: darkgray solid 1px;
    padding-top: 15px;
    padding-left: 50px;
    /*background-color: red;*/
}

#globo{
    float: left;
    padding-right: 40px;
}

.menu{
    padding-top: 20px; 
    list-style: none;
    font-size: 20px;
    font-family: opensans-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    float: left;
}

.menu > li > lu{
    padding-right: 20px; 
}

.sub-menu{
    list-style: none;
    float: left;
    font-size: 11px;
    font-family: ProximaNova-Regular,Arial,sans-serif;
    padding-top: 25px
}

li lu > a{
    /*text-decoration: none;*/
    color: gray;
}

.sub-menu > li{
    float: left;
    padding-left: 250px;
}

.sub-menu > li > lu{
    padding-right: 12px;
}

#pesquisar{
    padding-top: 15px;

}

#pesquisar > input{
    background-image: url('imgens//search.svg');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 5px;
    width: 200px;
    height: 25px;
}

#login{
    padding-left: 30px;
}